# Virtual Environment
.venv/
env/
venv/

# Python Cache & Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs & Temp files
*.log
*.tmp
